* {
  box-sizing: border-box;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  background-color:#232427;
  font-family: Courier, Sans-Serif;
  background-image: url(../src/image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}

/* App.js */

.container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.top-container {
  background-color: #202021;
  width: 13%;
  height: 850px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  text-align: center;
  position: sticky; top: 30px;
}

.second-container {
  background-color: #202021;
  width: 45%;
  height: auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

/* NavBar */

/* .nav:hover {
  background-color: #FBB365;
} */


.nav {
  display: flex;
  justify-content: center;
  height: 70px;
  position: sticky; top: 0px;
  background-color: #202021;
}

.list a:hover{
  color: #FBB365;
}

.list li:hover{
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(1.1);
  transition: 0.3s ease;
}

/* 
.logo img {
  width: 60px;
  height: 60px;
  margin-right: 100px;
} */

/* .list img {
  border-radius: 100%;
  width: 100px;
} */

a {
  text-decoration: none;
  color: white;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 2.5rem;
  color: white;
  font-size: 16px;
}

.myPic img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 50px;
  border-style: solid;
  border-width: thick;
  color: #1a376f;
  border: 1px solid #ddd;
  padding: 5px; 
}

.mail p:hover {
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(1.1);
  transition: 0.3s ease;
}

.phone p:hover {
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(1.1);
  transition: 0.3s ease;
}

#mypic-p {
  font-size: 12px;
}

hr {
  border: none;
  height: 1px;
  background-color: #FFB668;
}

.line {
  border-color: #FFB668;
  border: none;
  width: 180px;
  size: 1px;
  margin-top: 10px;
  margin-left: 30px;
}

h1 {
  color: white;
  margin-top: 30px;
}

p {
  color: #B49DAF;
  font-size: 17px;
  margin-top: 30px;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-me {
  height: 256px;
  background-color: #1D1D1D;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.about-p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  text-align: center;
  padding: 30px 100px 0px 100px;
}

.about h1 {
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
}

.information a:hover{
  color: #FBB365;
}

.mail img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.pin img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.phone {
  margin-top: 10px;
}

.phone img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.information p {
  font-size: 15px;
  color: white;
}

h5 {
  color:#B49DAF;
}

.information {
  margin-top: 50px;
}

/* SKILL */

.skill-top-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 50px;
}

.skill-second-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 3rem;
}

.skill h1, .about h1, .project h1 {
  text-align: center;
  color: #FBB365;
  margin-top: 30px;
}

.skill #image:hover{
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(1.1);
  transition: 0.3s ease;
}

#image {
  background-color: #262627;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px;
}

/* Project */

.project {
  background-color: #1D1D1D;
  box-shadow: 0 0 10px;
}

.project h1 {

  padding-top: 50px;
}

.project-container {
  background-color: #1D1D1D;
  display: flex;
  height: 550px;
  gap: 3rem;
  justify-content: center;
  
}

.div-project img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.div-project {
  background-color: #262627;
  height: 490px;
  width: 300px;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
  
}

.div-project h3 {
  color: white;
}

/* .div-project a {
  border-style: solid;
  padding: 5px;
  border-color: #FBB365;
} */

.project-container img:hover {
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(1.1);
  transition: 0.3s ease;
}

#github a {
  border-style: solid;
  padding: 5px;
  border-color: #FBB365;
  color: #FBB365;
}

#github:hover {
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(1.1);
  transition: 0.3s ease;
}

/* RESUME */

.resume {
  background-color: #202021;
  height: 550px;
}

.resume-div {
  display: flex;
  justify-content: center;
  
}

.resume-div img {
  width: 750px;
  box-shadow: 0 0 10px;
  border-style: solid;
}

.resume h1 {
  text-align: center;
  color: #FBB365;
  margin-top: 50px;
}

.footer {
  background-color: #1D1D1D;
  box-shadow: 0 0 10px;
  height: 100px;
  text-align: center;
  
}

.footer-div p  {
  color: white;
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .resume-div img {
      width: 650px;
      box-shadow: 0 0 10px;
      border-style: solid;
    }

    .top-container {
      height: 700px;
    }

    .line {
      border-color: #FFB668;
      border: none;
      width: 150px;
      size: 1px;
      margin-left: 20px;
    }

    .information {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .div-project {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .resume {
      height: 450px;
    }

    .footer {
      padding-top: 10px;
    }

}


@media only screen and (max-width: 1465px) {

  /* Profile */

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .top-container {
      height: 200px;
      width: 900px;
    }
    
    .profile {
      display: flex;
    }

    .information {
      display: flex;
      flex-direction: row;
      margin-left: 45px;
      margin-top: 25px;
    }

    .line {
      border-left: 1px solid ;
      border-color: #FBB365;
      width: 1px;
      height: 150px;
      margin-top: 25px;
    }

    .myPic img {
      margin-left: 20px;
      margin-top: 30px;
    }

    .profile-dev {
      margin-left: 25px;
      margin-top: 20px;
    }

    .phone {
      margin-top: 0px;
    }

    /* .second-container */

    .second-container {
      width: 900px;
      border-radius: 10px;
    }

    /* NAVBAR */
    
    .nav {
      position: sticky; top: 240px;
      font-size: 20px;
      border-radius: 5px;
      margin-bottom: 50px;
    }
}


@media only screen and (max-width: 1628px) {
  .resume-div img {
    width: 650px;
  }


}
