body {
  background-color:#1B1B1C;
}

/* App.js */


.container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.top-container {
  background-color: #28282A;
  width: 15%;
  height: 800px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: rgba(194, 194, 208, 0.3) 0px 0px 0px 0.8px;
}

.second-container {
  background-color: #28282A;
  width: 55%;
  height: 800px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: rgba(194, 194, 208, 0.3) 0px 0px 0px 0.8px;
}


/* NavBar */

.nav {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 100%;
  width: 100px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 2.5rem;
  color: white;
  font-family: serif;
  font-size: 18px;
}
