* {
  box-sizing: border-box;
}

body {
  background-color:#232427;
  font-family: Courier, Sans-Serif;
  background-image: url(../src/image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

/* App.js */


.container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.top-container {
  background-color: #202021;
  width: 13%;
  height: 700px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  text-align: center;
  position: sticky; top: 30px;
}

.second-container {
  background-color: #202021;
  width: 45%;
  height: auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}


/* NavBar */

.nav {
  display: flex;
  justify-content: center;
  height: 70px;
}
/* 
.logo img {
  width: 60px;
  height: 60px;
  margin-right: 100px;
} */

/* .list img {
  border-radius: 100%;
  width: 100px;
} */

a {
  text-decoration: none;
  color: white;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 2.5rem;
  color: white;
  font-size: 16px;
  /* margin-right: 40px; */
}

.myPic img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-top: 10px;
  border-style: solid;
  border-width: thick;
  color: #1a376f;
  border: 1px solid #ddd;
  padding: 5px;
  
}

#mypic-p {
  font-size: 12px;
}


hr {
  border: none;
  height: 1px;
  background-color: #FFB668;
}

.line {
  border-color: #FFB668;
  border: none;
  width: 150px;
  size: 1px;
  margin-top: 10px;
}


h1 {
  color: white;
}

p {
  color: #B49DAF;
  font-size: 17px;
}

.about-me {
  /* width: 95%; */
  height: 256px;
  margin-bottom: 50px;
}


.about-p {
  display: flex;
  justify-content: center;
  background-color: #1D1D1D;
  box-shadow: 0 0 10px;
  height: 200px;
  align-items: center;
  text-align: start;
  text-align: center;
  padding: 30px 100px 0px 100px;
 
}

.about h1 {
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
}

.mail img {
  width: 30px;
  height: 30px;
}

.pin img {
  width: 30px;
  height: 30px;
}
.phone img {
  width: 30px;
  height: 30px;
}

.information p {
  font-size: 15px;
  color: white;
}

 h5 {
  color:#B49DAF;
}

.information {
  margin-top: 30px;
}

/* SKILL */

.skill-top-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 50px;
}

.skill-second-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 3rem;
}

.skill h1, .about h1, .project h1 {
  text-align: center;
  color: #FBB365;
  margin-top: 50px;
}

#image {
  background-color: #262627;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
  box-shadow: 0 0 10px;
}

/* Project */

.card img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.card {
  margin-top: 30px;
  text-align: center;
  
}




#top-card {
  background-color: #39383E;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px;
}

#name {
  background-color: #39383E;
  border-radius: 5px;

}

.card p {
   font-size: 13px;
   
}

.project-container {
  background-color: #1D1D1D;
  display: flex;
  text-align: center;
  gap: 2rem;
  
}

.card img:hover{
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(1.1);
  transition: 0.3s ease;
  }